.section-ele{
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  .section-box{
    width: 100%;
    height: 100%;
    .section-item{
      width: 100%;
      height: inherit;
    }
    .section-content{
      padding: 0 4%;
      display: flex;
      align-items: center;
      height: 100%;
      .middle-value{
        width: 100%;
      }
    }
    .title{
      text-align: center;
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #010101;
      position: relative;
      margin-bottom: 15px;
    }
    .divided{
      width: 48px;
      height: 1px;
      background: #000000;
      margin: 0 auto;
      margin-bottom: 35px;
    }
  }
}

.anchor-box{
  position: fixed;
  right: 0;
  top: 50%;
}