.banner{
  background-image: url('@/assets/banner/about_banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  animation: opactiyBg 2000ms linear 300ms 1 normal both;
  .banner-title{
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: 500;
    margin-bottom: 18px;
    color: #FFFFFF;
    // line-height: 36px;
  }
  .banner-sub{
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
  }
  .mask{
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 50%;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    z-index: -1;
  }
}

@keyframes opactiyBg{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
}