.main-banner{
  background-image: url('@/assets/banner/main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  .banner-subTitle{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 13px;
    color: #fff;
  }
  .banner-title{
    font-size: 30px;
    font-family: PingFang SC;
    font-weight: 500;
    margin-bottom: 52px;
    color: #FFFFFF;
    // line-height: 36px;
  }
  .banner-sub{
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 36px;
  }
  .mask{
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 50%;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    z-index: -1;
  }
}