.contact-content{
  margin-top: 80px;
    .list-item{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 33px;
      .list-img{
        height: 12px;
        width: 12px;
        margin-right: 6px;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .list-info{
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #757575;
        line-height: 30px;
      }
    }
}
