.about{
  .about-desc{
    text-align: center;
    font-size: 12px;
    color: #939393;
    line-height: 22px;
    margin-bottom: 53px;
  }
  .about-list{
    .list-item{
      text-align: center;
      color: #C42A26;
      font-weight: 500;
      .list-number{
        font-size: 41px;
      }
      .list-unit{
        font-size: 14px;
      }
    }
    .list-desc{
      margin-top: 12px;
      text-align: center;
      font-size: 12px;
      color: #939393;
    }
  }
}