.team-content{
    margin-top: 86px;
    .intro-box{
      width: 100%;
      padding: 0 16px;
      box-sizing: border-box;
      margin-bottom: 42px;
    }
    .list-item{
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      position: relative;
      width: 100%;
    }
    .list-position{
      font-size: 12px;
      color: #929292;
      margin-top: 14px;
    }
    .list-divided{
      // width: 479px;
      width: 100%;
      height: 1px;
      background: #ECECEC;
      margin-top: 20px;
    }
    .list-arrow{
      position: absolute;
      right: 0;
      font-size: 12px;
      color: #a2a2a2;
      right: 10px;
      top: 30px;
   }
  .list-intro{
    display: flex;
    justify-content: start;
    margin-top: 23px;
    .list-author{
      width: 132px;
      height: 142px;
      background: #EEEEEE;
      border-radius: 19px;
      overflow: hidden;
      flex-basis: 132px;
      img{
        width: 132px;
      }
    }
    .list-info{
      flex: 1;
      text-align: left;
      padding-left: 36px;
      box-sizing: border-box;
      .name{
        font-size: 14px;
        font-weight: 500;
      }
      .position{
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #929292;
        line-height: 18px;
        margin-top: 14px;
        span{
          &:last-child{
            margin-left: 60px;
          }
        }
      }
      .desc{
        margin-top: 14px;
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #929292;
        line-height: 18px
      }
    }
  }
  .hidden{
    display: none;
  }
}

