.nav-container{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  .header-wrapper {
    height: 58px;
    line-height: 58px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .logo-box {
      // margin: 0 auto;
      font-size: 18px;
      font-weight: 600;
      width: 25%;
      display: flex;
      align-items: center;
      img{
        width: 72px;
        height: 27px;
        display: inline-block;
      }
    }
    .header-right {
      width: 75%;
      padding-left: 31px;
      display: block;
      .nav-box {
        .nav-ul{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-left: auto;
          .nav-li{
            margin-left: 4%;
            min-width: 68px;
            text-align: right;
            font-family: PingFangSC, PingFangSC-Medium;
          }
          .nav-li-en{
            margin-left: 4%;
            text-align: right;
            font-family: PingFangSC, PingFangSC-Medium;
          }
        }
        a {
          color: #2a2a2a;
          cursor: pointer;
        }
        .active{
          color: #C63632;
        }
      }
    }
    .mobile-icon {
      display: none;
    }
  
    .mobile-list {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .nav-container .header-wrapper{
    .header-right{
      display: none;
    }
    .mobile-icon{
      width: 80%;
      display: block;
      text-align: right;
      font-size: 24px;
    }
    .mobile-list{
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50px;
      background-color: white;
      left: 0;
      .nav-box {
        .nav-ul{
          a{
            display: inline-block;
            width: 100%;
            height: 100%;
          }
          .active{
            width: 100%;
            background-color: #C63632;;
            color: #fff;
          }
        }
      }
    }
    .hidden{
      display: none;
    }
  }
}