.nav-container{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  .header-wrapper {
    height: 58px;
    line-height: 58px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .logo-box {
      // margin: 0 auto;
      font-size: 18px;
      font-weight: 600;
      width: 20%;
      display: flex;
      align-items: center;
      img{
        width: 72px;
        height: 27px;
        display: inline-block;
      }
    }
    .header-right {
      width: 80%;
      padding-left: 31px;
      .nav-box {
        .nav-ul{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-left: auto;
          .nav-li{
            margin-left: 40px;
            min-width: 58px;
            text-align: right;
          }
        }
        a {
          color: #2a2a2a;
          cursor: pointer;
        }
        .active{
          color: #C63632;
        }
      }
    }
  }
}
