html,
body,
#root {
  // max-width: 1600px;
  height: 100%;
  font-family: PingFangSC, PingFangSC-Medium;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Comfortaa;
  background-color: #fff;
  margin: 0;
}

ul,
ol,
p {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

input {
  border: 0px;
  background-color: none;
  outline: none;
}
input:focus {
  outline: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

a {
  text-decoration-line: none;
  color: #2a2a2a;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.width760{
  width: 760px;
  margin: 0 auto;
}

.section-ele{
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  .section-box{
    width: 100%;
    height: 100%;
    .section-item{
      width: 100%;
      height: inherit;
    }
    .section-content{
      padding: 0 4%;
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      .middle-value{
        width: 100%;
      }
    }
    .title{
      text-align: center;
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #010101;
      position: relative;
      margin-bottom: 15px;
    }
    .divided{
      width: 48px;
      height: 1px;
      background: #000000;
      margin: 0 auto;
      margin-bottom: 35px;
    }
  }
}

.anchor-box{
  position: fixed;
  right: 0;
  top: 50%;
}
